.calendar-app::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12rem;
  transform: translate(-50%);
  width: 90%;
  height: 16rem;
  border-radius: 20rem;
  filter: blur(4rem);
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem);
  color: #fff;
  letter-spacing: 0.3rem;
  padding-left: 1rem;
}
.navigate-date h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  color: #bbb;
}
.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #78879e;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
}
.days span {
  font-size: clamp(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ece7e7;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}
.event {
  width: 100%;
  height: 7rem;
  position: relative;
  background-color: #00a3ff;
  padding: 1.5rem 0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.event-date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border-right: 0 1rem solidOrgba (255, 255, 255, 0 5);
}
.event-date {
  font-size: clamp(1rem, 1cqi, 1.2rem);
  color: #ddd;
}
.event-time {
  font-size: clamp(1.3rem, 1cqi, 1.6rem);
  line-height: 4rem;
  font-weight: bold;
  color: #fff;
}
.event-text {
  font-size: clamp(1.2rem, 1cqi, 1.4rem);
  line-height: 2rem;
  color: #fff;
  width: 75%;
  padding: 0 3rem 0 1rem;
  overflow-wrap: break-word;
}
.event-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.event-buttons i {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}
.event-popup-time {
  width: clamp(4rem, 4cqi, 7rem);
  background-color: 1#00a3ff;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 1.5cqi, 2.2rem);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1.5rem 1rem rgba(0, 163, 255, 0.2);
  letter-spacing: 0.1rem;
}
