.calendar-app::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12rem;
  transform: translate(-50%);
  width: 90%;
  height: 16rem;
  border-radius: 20rem;
  filter: blur(4rem);
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem);
  color: #fff;
  letter-spacing: 0.3rem;
  padding-left: 1rem;
}
.navigate-date h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  color: #bbb;
}
.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #78879e;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
}
.days span {
  font-size: clamp(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ece7e7;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}
